@font-face {
  font-family: "Poppins-regular";
  src: url(fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: "Poppins-bold";
  src: url(fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "Poppins-Semibold";
  src: url(fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "sans";
  src: url(fonts/NunitoSans-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  
}

#page1 {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh 30vh 100vh;
  grid-template-areas:
    "top top top"
    "center-left center-right center-right"
    "bottom bottom bottom";
}

.top {
  background-color: #ffffff;
  grid-area: top;
}

.nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 25px;
}



.logo b {
  font-size: 25px;
  font-family: Poppins-Semibold;
}

.logo img {
  height: 50px;
}

.nav-links a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 22px;
  font-weight: 200;
  margin: 0 30px;
}

#btn-1 {
  border: 1px solid #0360fd;
  background-color: #fff;
  border-radius: 25px;
  padding: 13px 25px;
  font-size: 20px;
  color: #0360fd;
  cursor: pointer;
  transition: all 0.3s ease;
}

#btn-1:hover {
  background-color: #0360fd;
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(3, 96, 253, 0.3);
}

#btn-2 {
  border: 1px solid #0360fd;
  background-color: #0360fd;
  border-radius: 25px;
  padding: 13px 25px;
  font-size: 20px;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#btn-2:hover {
  background-color: #0248b7;
  box-shadow: 0 4px 15px rgba(3, 96, 253, 0.4);
  transform: translateY(-2px);
}

.btn-3 {
  padding: 15px 30px;
  border: 1px solid #3a3a3a;
  border-radius: 50px;
  background-color: transparent;
  color: #3a3a3a;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  
}

.btn-3:hover {
  border-color: #0360fd;
  color: #0360fd;
  transform: scale(1.05);
}

.center-left {
  background-color: #f6f7f9;
  grid-area: center-left;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  /* font-weight: 500; */
  font-family: sans;
  font-size: 50px;
}
.center-right .button {
  display: flex;
  align-items: center;
}
.center-right {
  background-color: #f6f7f9;
  grid-area: center-right;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  font-family: sans;
}

.center-right p {
  color: #3a3a3a94;
  padding-top: 28px;
  font-size: 28px;
  font-family: sans;
}

.center-right .btn-1 {
  border: 1px solid #0360fd;
  background-color: #0360fd;
  border-radius: 50px;
  padding: 18px 28px;
  font-size: 20px;
  color: #f6f7f9;
  margin-left: 10px;
}
.center-right .btn-2 {
  border: 1px solid #0360fd;
  background-color: transparent;
  border-radius: 50px;
  padding: 18px 28px;
  font-size: 20px;
  color: #0360fd;
  margin-left: 10px;
}
.bottom {
  background-color: #f6f7f9;
  grid-area: bottom;
  display: flex;
  justify-content: center;
  padding: 5vh;
  height: 100vh;
}

.bottom img {
  object-fit: cover;
  border-radius: 20px;
  width: 90vw;
}

#page2 {
  background-color: #ffffff;
}

.markers {
  display: flex;
  justify-content: space-evenly;
  font-family: sans;
  font-weight: 100;
  align-items: center;
  height: 40vh;
  background-color: rgb(255, 255, 255);
}

.markers h2 {
  font-size: 100px;
}

.markers p {
  font-size: 20px;
  color: #3a3a3a7c;
  text-align: center;
}

.about-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  background-color: #f6f7f9;
  border-radius: 50px;
  margin: 1vw 1vw;
}

.left-div {
  width: 50vw;
  height: 65vh;
  position: relative;
  font-family: sans;
}
.left-div button {
  padding: 15px 30px;
  border: 1px solid #3a3a3a;
  border-radius: 50px;
  background-color: transparent;
  color: #3a3a3a7c;
  font-weight: 500;
  font-size: 20px;

  position: absolute;

  top: 0%;
}

.left-div button {
  padding: 15px 30px;
  border: 1px solid #3a3a3a;
  border-radius: 50px;
  background-color: transparent;
  color: #3a3a3a7c;
  font-weight: 500;
  font-size: 20px;

  position: absolute;

  top: 0%;
}

.left-div h2 {
  position: absolute;
  top: 50%;
  font-size: 40px;
}
.left-div p {
  position: absolute;
  top: 75%;
  font-size: 20px;
  color: #3a3a3a7c;
}

.right-div {
  width: 35vw;
  height: 65vh;
}

.right-div img {
  width: 30vw;
}

.expertise {
  width: 95vw;
  margin: 2vw;
  height: 30vh;
  display: flex;
  background-color: #f6f7f9;
  gap: 1vw;
  justify-content: space-between;
  border-radius: 10px;
}

.expertise .left-div {
  height: 100%;
  width: 45vw;
  padding: 2vw 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f6f7f9;
}
.expertise .right-div {
  height: 100%;
  width: 45vw;
  padding: 2vw 1vw;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: #f6f7f9;
}

.expertise button {
  margin: 40px 5px;
}

.card-grid {
  height: 120vh;
  width: 95vw;
  margin: 1vw 3vw;
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw;
  grid-template-rows: 45vh 45vh;

  padding: 2vw;
  gap: 6rem 3rem;
  justify-items: end;
}

.card-grid .card {
  height: 30rem;
  width: 20rem;
  border-radius: 10px;
  margin: 20px;
  position: relative;
  overflow: hidden;
}

.user-details {
  height: 30rem;
  width: 20rem;
  background-color: rgb(42, 53, 254);

  position: absolute;
  bottom: -100%;
  /* transform: translateY(-100%); */
  border-radius: 10px;

  padding-left: 30px;
  font-family: sans;
  transition: all 0.5s ease;
  opacity: 0.1;
}

.user-details h2 {
  padding-top: 10%;
  color: #f6f7f9cc;
  font-weight: 300;
  font-size: 40px;
}

.user-details h4 {
  padding-top: 2%;
  font-size: 20px;
  color: #f6f7f97e;
}
.user-details p {
  padding-top: 20%;
  font-size: 20px;
  color: #f6f7f962;
}
.card img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.card:hover .user-details {
  transform: translateY(-100%);
  opacity: 1;
}

.page4 {
  padding: 5vw;
  font-family: sans;
  margin: 1vh 1vw;
}
/* .page4 button {
  padding: 15px 30px;
  border: 1px solid #3a3a3a;
  border-radius: 50px;
  background-color: transparent;
  color: #3a3a3a;
  font-weight: 500;
  font-size: 20px;
} */

.margin-text {
  display: flex;
  width: 90vw;
}

.margin-text h3 {
  width: 48%;
  font-size: 50px;
  margin-top: 2rem;
  font-weight: 400;
}
.margin-text p {
  margin-top: 3rem;
  width: 48%;
  font-size: 25px;
  padding-left: 7rem;
  color: #3a3a3a77;
}
.margin-section {
  margin-top: 5rem;
  display: flex;
  gap: 10px;
  background-color: #f6f7f9;
}
.left-section {
  width: 45vw;
  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.left-section img {
  object-fit: cover;
  height: 90%;
  width: 90%;
  border-radius: 30px;
}

.right-section {
  width: 45vw;
  height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.bulb {
  height: 45px;
  width: 45px;
  background-color: #0360fd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 30px;
  position: absolute;
  left: 10%;
}

.inner {
  width: 70%;
  margin-left: 10rem;
}

.one h2 {
  font-size: 20px;
  color: #0360fd;
}

.one h4 {
  font-size: 35px;
  font-weight: 400;
  margin-top: 1rem;
}
.one p {
  font-size: 20px;
  color: #3a3a3a93;
  margin-top: 0.5rem;
  word-spacing: 5px;
}

.one button {
  border-color: transparent;
  padding-left: 0;
  cursor: pointer;
}

.two h2 {
  font-size: 20px;
  color: #66656593;
}

.two h4 {
  font-size: 35px;
  font-weight: 400;
  margin-top: 1rem;
  color: #3a3a3a8a;
}

.two {
  width: 70%;
  margin-left: 5rem;
}

.two .bulb {
  background-color: #74737342;
}

.page5 {
  font-family: sans;
}

.feedback-section {
  width: 95vw;
  height: 70vh;
  margin: 1vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-feedback {
  width: 45vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  position: relative;
  padding: 6vw 1vw;
}

.left-feedback .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating {
  color: #0360fd;
  font-size: 25px;
}

.left-feedback img {
  height: 60px;
  margin-left: -30px;
}
.right-feedback {
  width: 45vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-feedback img {
  object-fit: cover;

  height: 90%;
  width: 90%;
  border-radius: 20px;
}

.left-feedback p {
  font-size: 25px;
  color: #3a3a3ad6;
}

.left-feedback h3 {
  font-size: 30px;
  color: #3a3a3a;
  font-weight: 400;
}

.left-feedback h3 span {
  font-size: 30px;
  color: #58585880;
  font-weight: 600;
  margin-left: 100px;
}

.contact {
    width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75vh;
    margin: 1vw;
}

.left-contact{
    width: 45vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6vh 1vw;
}

.left-contact h1{
    margin-top: -20px;
    font-size: 40px;
    letter-spacing: 5px;
    font-weight: 700;
}
.right-contact{
    width: 45vw;
    height: 70vh;
    display: flex;
  justify-content: center;
  align-items: center;

}


.right-contact img{
    height: 90%;
    width: 90%;
    border-radius: 20px;
    object-fit: cover;

    
}

.contact-item{
    margin: 1.5rem 0;
}

.contact-item h3{
    color: #3a3a3a84;
    font-size: 20px;
}
.contact-item h4{
    color: #3a3a3a;
    font-size: 25px;

}

.contact-item div{
    margin-top: 20px;
}

.contact-item div i{
    font-size: 20px;
    height: 20px;
    border: 1px solid #3a3a3a52;
    padding: 5px;
    border-radius: 50%;
    margin-right:20px;
    cursor: pointer;
}

.left-contact button {
    align-self: flex-start; /* only take the width it needs */
}


.page6{
    height: 60vh;
    width: 97vw;
    background-color: #232323;
    
    margin:1vw;
    
    border-radius: 20px;
    font-family: sans;
    position: relative;
    

}

.upper{
    display: flex;
    height: 45vh;
}
.div1{
    min-width: 500px;
    /* background-color: #0360fd; */
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 8rem;
    padding-top: 5rem;
    
    
}
.div1 input{
    width: 13rem;
    padding:  17px;
    border-radius: 30px; 
    background-color: #c5c5c550;
    color: #d0d0d0;
    border: none;
    outline: none;
    font-size: 18px;
}

input::placeholder{
    color: #ababab;
    font-size: 18px;
}


.footer-logo{
    display: flex;
  justify-content: center;
  align-items: center;
  /* padding-left: 25px; */
  
}

.footer-logo img{
    height: 60px;
}

.footer-logo b{
    font-size: 30px;
    color: #fff;
  font-family: Poppins-Semibold;

}

.outer{
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    
    color: #ababab;
}

.div2 li {
    list-style-type: none;
    margin-top:25px;
    font-size: 20px;
    
}

.div2 h3{
    margin-top: 100px;

}

.div1 h3{
    font-size: 30px;
    color: #f6f7f9;
    font-weight: 400;
    margin-top: 2.5rem;
}

.div1 div{
    margin-top: 0.5rem;
}

.lower{
    display: flex;
    justify-content: space-between;
    color: #c9c9c9;
    margin-top: 4rem;
    padding: 0 8rem;
    font-size: 20px;

}
.social i{
    font-size: 20px;
    height: 20px;
    border: 1px solid #d3d3d352;
    padding: 5px;
    border-radius: 50%;
    margin-right:20px;
    cursor: pointer;
    color: #fff;
}